/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  margin  0rem!important
  display inline-flex!important

h1 {
   font-size 2rem!important
   margin-top 0px !important;
}
